<div class="main-content">

    <div class="body">
        <div class="overlay"></div>
        <div class="main-text">
            Hisham R S
        </div>
        <div class="changeing-text">
          I am a
            <!-- <h1 class="typewriter">{{ displayText }}<span class="cursor">|</span></h1> -->
            <h1 class="typewriter-container">
                <span class="typed-text">{{ displayText}}</span>
                <span class="underline"></span>
                <span class="cursor">|</span>
            </h1>
        </div>
    </div>